@use '../mixins/' as *;
@use '../presets/' as *;


$local-color: #637588;
$local-color-hover: #e2dfdf;

.post-item{
    background-color: $color-gray-light2;
     &:hover {
        background-color: $local-color-hover;

        a {
            color: $color-primary;
        }

        img {
            transform: scale(1.05);
        }
    }
    &__link{
        display: block;
        height: 100%;
    }
    &__picture{
        display: flex;
        overflow: hidden;
        height: 300px;
    }
    &__image{
        display: block;

        width: 100%;
        transition: transform 0.3s;
        object-fit: cover;
    }
    &__title{
        margin: 0;
    }
    &__text{
        color: $local-color;

        height: 250px;
        padding: $gap-lg $gap;
        overflow: hidden;
        text-align: center;
        line-height: 1.25;
    }
}