@use "mixins" as *;
@use "presets" as *;

.navbar {
    display: flex;
    align-items: center;
    height: 65px;
    &__container{
        @extend %container;
        display: flex;
        justify-content: space-between;
    }
    &-logo{
        &__link{
            font-size: 1.5rem;
        }
    }
    &__list{
        display: flex;
        align-items: center;
        gap: 40px;
    }
    &__link{
        &:hover{
            border-bottom: 3px solid $color-primary;
        }
    }
}